html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0083ff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0083ff;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #044786;
}
